@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

.about {
  //@extend .level;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #ffd700;
  height: 100vh;
}

h1 {
  font-size: 2em;
  font-family: 'Uchen', serif;
}
