@import '../../../node_modules/bulma/sass/base/_all.sass';
@import '../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../node_modules/bulma/sass/layout/_all.sass';
@import '../../../node_modules/bulma/sass/helpers/_all.sass';
@import '../../../node_modules/bulma/sass/utilities/mixins.sass';

//$column-gap: 2.5em;
$font-size: 1.3em;

@import '../../../node_modules/bulma/sass/helpers/overflow.sass';
@import '../../../node_modules/bulma/sass/components/modal.sass';
@import '../../../node_modules/bulma/sass/components/card.sass';
@import '../../../node_modules/bulma/sass/grid/columns.sass';
@import '../../../node_modules/bulma/sass/elements/image.sass';

.modal {
  &-container {
    @extend .container;
    @extend .is-clipped;
  }

  &-content {
    overflow: hidden;
    margin: 0;
    width: 90vw;
    @include until($tablet) {
      height: 90vh;
      max-height: 90vh;
    }
  }

  &-close {
    @extend .modal-close;
    @extend .is-large;
  }
}

.column {
  @include until($tablet) {
    max-height: 50vh;
  }
}

.card {
  &-column {
    @extend .column;
  }

  border-radius: 1.5em;
  background-color: #e29300;
  color: #ffff;
  text-align: center;
  min-width: 60vw;
  font-size: $font-size;

  @include until($tablet) {
    font-size: $font-size / 2;
  }

  &-title {
    font-weight: bold;
    white-space: nowrap;
    font-size: $font-size * 1.6;
  }

  &-columns {
    @extend .columns;
    @extend .is-flex-tablet;
    @extend .is-vcentered;
  }

  &-figure {
    @extend .image;
    @extend .is-2by3;
  }

  &-image {
    //@extend .has-ratio;
    object-fit: contain;

    @include until($tablet) {
      margin-top: 5vh;
      max-height: 40vh;
    }
  }

  &-detail {
    padding: 1em;

    @include until($tablet) {
      padding: 0.2;
    }

    &-title {
      color: #000;
      font-weight: bold;
    }

    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      div {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 20%;
      }
    }
  }
}
